body {
    margin: 0;
    background-color:#6ab4d2;
    color:#062d45;
    font-family:'Times New Roman', Times, serif;

}

ul{
    border: #c1b6a7;
    background-color: #faebd7;
    padding:20px;
    margin: 30px;
    display:inline-block;
    
}

form{
    font-size: 25px;
}

h2{
    margin: 30px;

}

h3{
    font-size: 30px;
    margin: 30px;
}

dt{
    font-size: 25px;
    margin: 30px;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #062d45;
    color:#062d45;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color:#09456a;;
    color:#faebd7
}

nav ul li a.active {
background-color: #09456a;
color:#faebd7
}

header nav ul li a {
    color: antiquewhite;
}


table{
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: 'Courier New', Courier, monospace;
    min-width: 400px;
    box-shadow: 0 0 20px #062d45;
}

table thead tr{
    background-color: #062d45;
    color: antiquewhite;
    text-align: left;
}

tbody{
    background-color:#78cdef
}

table th, table td{
    padding: 12px 15px;
    border: 1px solid #150e5b
}

table tbody tr {
    border-bottom: 1px solid #f0f8ff
}

table tbody tr:nth-last-of-type(even) {
    background-color:#062d45;
}

table tbody tr:last-of-type {
border-bottom: 2px solid #062d45;
}

table tbody tr:hover {
background-color: #5a82d9;
color:#f0ffff
}

footer {
    clear: both;       /* This is the key! It moves it below the images */
    display: block;    /* Ensures it takes up the full width */
    text-align: center; 
    background-color: #062d45;
    color: #faebd7;
    margin-top: 50px;  /* Pushes it down so it's not touching your art */
    padding-bottom: 20px;
}